.List {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Heading {
    display: flex;
    justify-content: center;
}

.item {
    display: flex;
    align-items: center;
    border: 2px solid black;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px;
}

.marked {
    text-decoration: line-through;
}